<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GadgetsWave:Samsung</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="\static\images\technology.png" />
    
    <!--js bundle cdn-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
        body{
            font-family: 'Amazon Ember', sans-serif;
            text-align: center;
            overflow-x: hidden;
        }

        .mycolumn:hover{
            cursor: pointer;
        }
        .banner:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">
                <img  src="\static\images\technology.png" style="width: 30px;"/><span style="margin-left: 10px;">GadgetsWave</span>
            </a>
            <div style="display: flex;justify-content: flex-end;">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#searchModal">
                    <img style="width: 20px;margin-top: 10%;" src="\static\images\search-interface-symbol (1).png">
                </a>
                <a class="nav-link" href="/AdminLogin" style="color: white;margin-top: 3px;">
                    Admin
                </a>
                <a class="nav-link" href="#" id="myBag">
                    <img style="width: 20px;" src="\static\images\bag.png">
                </a>
                <a class="nav-link" href="#" id="myWishlist">
                    <img style="width: 20px;margin-top: 5px;" src="\static\images\heart.png">
                </a>
                <a href="#" style="margin-top: 3%;" class="dropdown-toggle" data-bs-toggle="dropdown">
                    <img style="width: 20px;margin-left: 40%;" src="\static\images\user.png">
                </a>
                <div class="dropdown-menu" style="margin-left:89%;">
                    <a href="#" style="font-size: 14px;" class="dropdown-item">Your Account</a>
                    <a href="#" style="font-size: 14px;" class="dropdown-item" id="myOrderButton">Your Orders</a>
                    <a href="#" style="font-size: 14px;" class="dropdown-item" id="logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row" style="margin-top: 0.5%;">
            <div>
                <img style="width: 90%;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/Jupiter/realme/Brandstore/D102002705_IN_WLD_Jup23_OnePlus_Family_Phase3P3_Stripes_1500.jpg">
                
                <img class="banner" onclick="viewPname('S23 FE');" style="width: 92%;border-radius: 30px;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/Jup_2023/Phase3/RV_Brandstore_Tiles/Update_1400x800.jpg">
                <img style="width: 89%;border-radius: 30px;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/Jup_23/brandS/Artboard_3.jpg">
                <img class="banner" onclick="viewPname('M34 5G');" style="width: 90%;border-radius: 30px;margin-top: 0.5%;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/Jup_2023/Phase3/RV_Brandstore_Tiles/D101959830_IN_WLD_Jup23_SamsungMBAU_Brandstore_PH3horizontal-tile_1500x450_M34.jpg">
                <img class="banner" onclick="viewPname('A34 5G');" style="width: 90%;border-radius: 30px;margin-top: 0.5%;" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/Jup_2023/Phase3/RV_Brandstore_Tiles/D101959830_IN_WLD_Jup23_SamsungMBAU_Brandstore_PH3horizontal-tile_1500x450_A34.jpg">
            </div>
        </div>
    </div>
    <div class="container" style="display: flex;justify-content: center;font-family: 'Amazon Ember', Arial, sans-serif;">
        <div class="row" id="Oneplus" style="width: 93%;">
                <!--<div class="col-4">
                    <div style="width: 90%;border: 1px solid #f8f8f8;background-color: #f8f8f8; border-radius: 8px;margin-left: 5%;">
                        <div>
                            <img style="width: 75%;" src="https://m.media-amazon.com/images/I/61LB+d0vheL._AC_UL320_.jpg">
                        </div>
                        <div style="background-color: white;">
                            <div style="margin-left: 1.5%;">
                                <p>
                                    <h2 style="font-size: 16px;text-align: start;">OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 8GB RAM, 128GB Storage)</h2>
                                    <div style="font-size: 12px;background-color: #ffc266;width: 131px;height: 26px;display: flex;align-items: center;justify-content: center;color: #232f3e;font-weight: 400;">Great Indain Festival</div>
                                    <h2 style="font-size: 28px;text-align: start;font-weight: 500;margin-top: 1%;">₹19,999&nbsp;<span style="font-size: 14px;text-decoration: line-through;">₹20,499</span></h2>
                                    <div style="display: flex;">
                                        <div style="width: 80px;height: 20px; text-align: center; background-color: #7fda69;font-size: 13px;font-weight: 400;">Save ₹500</div>&nbsp;<a href="#" style="font-size: 12px; text-decoration: none;color: #007185;">Apply coupon</a>
                                    </div>
                                    <h2 style="font-size: 14px;text-align: start;line-height: 20px;margin-top: 1%;">Get it by <b>Thursday, 9 November </b><br>FREE Delivery by Amazon</h2>
                                </p>
                                
                            </div><br>
                        </div>
                    </div>
                </div>-->
        </div>
    </div><br><br><br>

</body>
    <script>

        var xhttpOneplus=new XMLHttpRequest;
        xhttpOneplus.onreadystatechange = function() {
            if(this.readyState==4 && this.status==200)
            {
                var jsonData=JSON.parse(this.responseText)
                var jsonLength=jsonData.length

                var OnePlusHTML=''

                for(var i=0;i<jsonLength;i++){

                    var discount=jsonData[i].product_original_price - jsonData[i].product_price
                    console.log(discount)

                    OnePlusHTML+='<div class="col-4" style="margin-top: 2.5%;">'
                    OnePlusHTML+='<div class="mycolumn" onclick="viewProduct('+jsonData[i].id+');" style="width: 90%;height:100%; border: 1px solid #e4e4e4;background-color: #fff; border-radius: 8px;margin-left: 5%;">'
                    OnePlusHTML+='<div>'
                    OnePlusHTML+='<img style="width: 75%;" src="'+jsonData[i].p_image+'">'
                    OnePlusHTML+='</div>'
                    OnePlusHTML+='<div style="background-color: white;border-bottom-left-radius:8px ;border-bottom-right-radius:8px ;">'
                    OnePlusHTML+='<div style="margin-left: 1.5%;">'
                    OnePlusHTML+='<p>'
                    OnePlusHTML+='<h2 style="font-size: 16px;text-align: start;">'+jsonData[i].product_name+'</h2>'
                    OnePlusHTML+='<div style="font-size: 12px;background-color: #ffc266;width: 131px;height: 26px;display: flex;align-items: center;justify-content: center;color: #232f3e;font-weight: 400;">Great Indain Festival</div>'
                    OnePlusHTML+='<h2 style="font-size: 24px;text-align: start;font-weight: 500;margin-top: 2%;">₹'+jsonData[i].product_price+'&nbsp;<span style="font-size: 14px;text-decoration: line-through;">₹'+jsonData[i].product_original_price+'</span></h2>'
                    OnePlusHTML+='<div style="display: flex;">'
                    OnePlusHTML+='<div style="width: 80px;height: 20px; text-align: center; background-color: #7fda69;font-size: 13px;font-weight: 400;">Save ₹'+discount+'</div>&nbsp;<a href="#" style="font-size: 12px; text-decoration: none;color: #007185;">Apply coupon</a>'
                    OnePlusHTML+='</div>'
                    OnePlusHTML+='<h2 style="font-size: 14px;text-align: start;line-height: 20px;margin-top: 1%;">Get it by <b>Thursday, 9 November </b><br>FREE Delivery by Amazon</h2>'
                    OnePlusHTML+='</p>'      
                    OnePlusHTML+='</div><br>'
                    OnePlusHTML+='</div>'
                    OnePlusHTML+='</div>'
                    OnePlusHTML+='</div>'
                }
                    
                document.getElementById('Oneplus').innerHTML=OnePlusHTML
            }
        }
        xhttpOneplus.open("GET","http://127.0.0.1:8080/SamsungData",true)
        xhttpOneplus.send()

        function viewProduct(productId)
            {
                var xhttpproductClicks=new XMLHttpRequest();
                xhttpproductClicks.onreadystatechange=function()
                {
                    if(this.readyState==4 && this.status==200)     //200(Success), 300(Redirect), 400(server not found), 500(Internal server error)
                    {
                        console.log(this.responseText)
                        /*var jsonData=JSON.parse(this.responseText)
                        var otherPageUrl = jsonData.other_page_url
                        var data = jsonData.data;*/

                        window.location.href= '/trackProductClick/'+productId;
    
                    }
    
                }
                xhttpproductClicks.open("GET","http://127.0.0.1:8080/trackProductClick/"+productId,true)
                xhttpproductClicks.send()

                //window.location.href='product-details.html'
            
            }

            function viewPname(pName)
            {
                var xhttppname=new XMLHttpRequest();
                xhttppname.onreadystatechange=function()
                {
                    if(this.readyState==4 && this.status==200)     //200(Success), 300(Redirect), 400(server not found), 500(Internal servererror)
                    {
                        console.log(this.responseText)
                        var jsonData=JSON.parse(this.responseText)
                        console.log(jsonData[0])
                        
                        viewProduct(jsonData[0].id)
                    }

    
                }
                xhttppname.open("GET","http://127.0.0.1:8080/banner-product-id/"+pName,true)
                xhttppname.send()
            }
                
    </script>

</html>